bin/
obj/
/packages/
artifacts/
*.nupkg
*.snupkg
riderModule.iml
/_ReSharper.Caches/
Logs/
.idea/
.env
.env.*
!.env.example
**/appsettings.Local.json
**/appsettings.Production.local.json
**/secrets.json
